
<div class="container">
	<%= form_with url: activequestion_path do |form| %>
		<h1>Activaci贸n de evaluaci贸n</h1>
		<p>Seleccione la evaluaci贸n a activar</p>
		    <div class="field">
		      <%= form.select(:evaluation_id) do %>
		          <% @evaluation.each do |c| %>
		            <%= content_tag(:option, c.objetivo, value: c.id , class: 'form-control') %>
		            <%end %>
          	  <% end %>
          	  <br>
          	 </div>
  		<%= form.submit "Activar evaluaci贸n"%>
  	<% end %>
</div>