
<div class="container">
	<%= form_tag activequestion_url do |form| %>
		<h1>Activaci贸n de evaluaci贸n</h1>
		<p>Seleccione la evaluaci贸n a activar</p>
		    <div class="field">
		      <%= select_tag "evaluation_id", options_from_collection_for_select(@evaluation, "id", "objetivo") %>
          	  <br>
          	 </div>
  		<%= submit_tag "Activar evaluaci贸n", class: 'btn btn-primaty'%>
  	<% end %>
</div>