<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>

<h1>Editando Evaluaciones</h1>


<%= render 'form', evaluation: @evaluation %>

<%= link_to 'Show', @evaluation %> |
<%= link_to 'Back', evaluations_path %>
  <%else%>
  <h1><center>No tiene los permisos necesarios.</center></h1>
  <%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>