
<div class="container">
<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>Descripcion del propósito:</strong>
	  <%= @purpose.descripcion %>
	</p>

	<p>
	  <strong>Rda específico:</strong>
	  <%= @purpose.rda_especific.descripcion %>
	</p>

	<p>
	  <strong>Rda general:</strong>
	  <%= @purpose.rda_especific.rda_general.descripcion %>
	</p>

	
	<%else%>
	  <h1><center>No tiene los permisos necesarios.</center></h1>
   <%end%>
<%else%>
	<h1>Debe iniciar sesión</h1>
<%end%>
</div>