
<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>


<h1>Editando Rda Específico</h1>

<%= render 'form', rda_especific: @rda_especific %>

<%= link_to 'Show', @rda_especific %> |
<%= link_to 'Back', rda_especifics_path %>
  <%else%>
  <h1><center>No tiene los permisos necesarios.</center></h1>
  <%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>
