<div class="container">
	<% if user_signed_in? %>
	  <%if current_user.rol=="Profesor"%>
	  	<table class="table">
	  		<thead>
		  		<tr>
		  			<th> </th>
			  		<%contador = 1 %>
			  		<% @propositos.each do |proposito| %> 
			  				<% string = "proposito #{contador}"%>
			  				<th id=<%=proposito.id%>><%= link_to string, proposito %> </th>
			  				<%contador = contador + 1 %>
			  		<%end%>
		  		</tr>
	  		</thead>
	  		<tbody>
	  			<tr>
	  				<td> <%= @user.nombreC %></td>
	  				<% @hashIdsPropositosCantidad.each do |key, value| %>
	  					<td> <%= (value[1]*100)/value[0]%>% </td>
	  				<%end%>
	  			</tr>
	  		</tbody>
	  	</table>
	  <%else%>
	  <h1><center>No tiene los permisos necesarios.</center></h1>
	  <%end%>
	<%else%>
	  <h1>Debe iniciar sesión</h1>
	<%end%>
</div>