<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>

<div class="container">
	<h3> Curso: </h3>
	<h4> @curso.descripcion </h4>

	<table>
		<thead>
			<tr>
				<th> Nombre completo </th>
				<th> Email </th>
				<th> RUT </th>
		</thead>
		<tbody>
			<%@users.each do |user|%> 
			<tr>
				<td>user.nombreC</td>
				<td>user.email</td>
				<td>user.rut</td>
			</tr>
		</tbody>
	</table>

</div>
  	  <%else%>
  <h1><center>No tiene los permisos necesarios.</center></h1>
  <%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>